*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;

}


body{
    background-color: rgb(75, 75, 75);
    display: flex;
}


.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}

.img-box  img{
    width: 100%;
}


.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}


.profile h2{
    font-size: 20px;
    
   
}




.menu{
    background-color: #123;
    width: 205px;
    height: 100vh;
    padding: 20px;
    
    
    
    }


    


ul{
    list-style: none;
    position: absolute;
    height: 95%;
    
    
}


ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 0.7s;
}


ul li a:hover, .active{
    background-color: #ffffff55;
}






.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;

}


.log-out a{
    background-color: blue;
}


ul li a i{
    font-size: 30px;

}








.content{
    
    width: 100%;
    margin: 10px;
    
}


.title-info{
    background-color: rgb(0, 162, 255);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px 0;

}




.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}


.data-info .box{
    background-color: #123;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}





.data-info .box:hover{
    background-color: #ffffff55;
}


.data-info .box i{
    font-size: 40px;
}


.data-info .box data{
    text-align: center;
}


.data-info .box .data span{
    font-size: 30px;
}




table{
    width: 100%;
    text-align: center;
    border-spacing:8px ;
    

}




td, th{
    background-color: #123;
    height: 40px;
    border-radius: 10px;
}



th{
    background-color: rgb(0, 119, 255);
}



td :hover{
    background-color: #ffffff55;
}




.price, .count{
    padding: 6px;
    border-radius: 8px;


}

.price{
    background-color: green;
}

.count{

    background-color: gold;
    color: black;
}
